
/*CONOCE MAS SECTION */

:root {
  --main-color: #d0ff97;
}

.conocemas .container {
  display: flex;
  align-items: center;
}

.conocemas .text {
  flex: 1;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin-left: 122px;
}

.conocemas .image{
  width: 839px;
  height: 596px;
  left: -404px;
  position: relative;
}

.conocemas .buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
}

.conocemas {
  padding: 20px;
}

.conocemas .buttons button {
  border-radius: 15px; 
  text-transform: none; 
  background-color: #A98658;
  font-family: "Inter", sans-serif;
  width: 350px;
  height: 80px;
  font-size: 28px;
}


/*----------Footer--------------------*/

footer {
  padding: 50px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 416px;
  width: 65%;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(/images/footer_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

}

.subscribe-input {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #819D4E;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.subscribe-input input {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.subscribe-input button {
  background-color: #819D4E;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
}

.footer-info-social {
  size: 16px;
}


.footer-acc {
  display: flex;
  gap: 25px;
  text-align: left;
  text-decoration: none;
  size: 18px;
}

a {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
  transition: all .20s ease;
}

a:hover {
  color: var(--main-color);
}

.footer-acc ul {
  list-style: none;
}

.footer-acc ul li {
  margin: 10px 0;
}

.footer-bottom {
  background-color: #ffffff;
  border-top: #999999 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.footer-bottom p {
  color: #666666;
  font-weight: 500;
}

.social i {
  font-size: 1.5rem;
  color: #666666;
  transition: all .20s ease;
}

.social i:hover {
  color: var(--main-color);
}

.agrisage-name {
  color: #819D4E;
}