.parrafotienda {
    font-family:"Poppins";
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.ImageT {
    padding: 20px 60px;
    border-radius: 80px;
}

.colun1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.colorBoton {
    color: white;
    padding: 10px 30px;
    border-radius:8px;
    background-color: green;
    border: 2px;
}
.buttoncentro {
    display: flex;
    justify-content: center;
}